body {
  background-color: aliceblue;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  position: absolute;
  overflow: auto;
  padding-top: 50px;
  background-color: white;
  width: 70%;
  min-height: 100%;
  left: 15%;
  top: 0px;
  bottom: 0px;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
h1, h2 {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: lavender;
  padding: 3px;
  border: 2px solid #a8a8d2;
  text-align: center;
  border-radius: 25px;

}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  letter-spacing: 4px;
  border-bottom: 1px solid #45455a;
  color: #45455a;
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
  border-radius: 25px;
}
a {
  border: 1px solid #b0b0b0;
  background-color: #fafaff;
  padding: 5px;
  color: gray;
  border-radius: 5px;
  -webkit-transition: 0.3s;
}
a:hover {
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  color: #fafaff;
  text-decoration: none;
}
table {
  width: 100%;
}
tr {
  background-color: #e6e6fa;
  border: 2px solid #b6b6d0;
  padding: 10px;
  -webkit-transition: 0.3s;
}
th {
  background-color: #b6b6d0;
}
td, th {
  padding: 5px;
  color: #1f1f28;
  min-width: 150px;
  max-width: fit-content;
  text-align: center;
}

td a:hover {
  background-color: #686885;
}

tr:hover {
  background-color: #b6b6d0;
  color: #fafaff;
}

label {
  width: 100px;
}

.message {
  border: 2px solid #d7f3d7;
  border-radius: 10px;
  background-color: #f4faf4;
  color: #6db36d;
  padding: 10px;
}

.error {
  border: 2px solid #d68686;
  border-radius: 10px;
  background-color: #deb9b9;
  color: #b33434;
  padding: 10px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.add-label {
  width: 100px;
}

.add-text  {
  width: 200px;
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}
input.red-button {
  width: 75px;
  height: 50px;
  display: inline-block;
  border: 2px solid #d68686;
  border-radius: 5px;
  background-color: #deb9b9;
  color: #b33434;
  padding: 10px;
  text-align: center;
  margin: 10px;
  -webkit-transition: 0.3s;
}

input.green-button {
  width: 75px;
  height: 50px;
  display: inline-block;
  border: 2px solid #d7f3d7;
  border-radius: 5px;
  background-color: #f4faf4;
  color: #6db36d;
  padding: 5px;
  text-align: center;
  margin: 5px;
  -webkit-transition: 0.3s;
}
input.green-button:hover, input.red-button:hover {
  background-color: lavender;
  color: #78789d;
}
/*
   =======================
   IDEA TITLE STYLE
   =======================
*/
.add-title {
  padding: 20px;
}

input[type=text].add-title {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  color: #a8a8d2;
  -webkit-transition: 0.3s;
}
input[type=text]:focus.add-title {
  outline: none;
  border: 3px solid #a8a8d2;
  background-color: lavender;
  border-radius: 10px;
}

.add-title textarea {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  -webkit-transition: 0.3s;
}

.add-title textarea:focus {
  outline: none;
  border: 2px solid #a8a8d2;
  background-color: lavender;
  border-radius: 10px;
}
/*
   =======================
   IDEA THOUGHT STYLE
   =======================
*/
.add-thought {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  color: #6db36d;
}
.add-thought a {
  width: 50px;
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  background-color: #f4faf4;
  margin-right: 10px;
  color: #6db36d;
  border: 2px solid #d7f3d7;
  text-align: center;
  font-size: 24px;
  -webkit-transition: 0.3s;
  text-decoration: none;
}

.add-thought a:hover {
  background-color: #d7f3d7;
  border: 2px solid #8fb78f;
}

.add-thought a:active {
  background-color: #8fb78f;
  border: 2px solid #8fb78f;
  color: #d7f3d7;
}
/* New thought little container */
.new-thought {
  font-family: Helvetica, Arial, sans-serif;
  width: 50%;
  height: 250px;
  padding: 20px;
  margin-bottom: 20px;
}
.new-thought textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #a8a8d2;;
  -webkit-transition: 0.3s;
}
.new-thought textarea:focus {
  outline: none;
  border: 2px solid #a8a8d2;
  background-color: lavender;
}
.new-thought input[type=text] {
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #a8a8d2;
  -webkit-transition: 0.3s;
}
.new-thought input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid #6c6c8f;
  background-color: lavender;
}
/*
   =======================
   VIEW IDEA STYLE
   =======================
*/
.view-idea {
  padding: 50px;
}
.view-idea-summary {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 15px;
  margin: 20px;
  border-left: 10px solid lavender;
  background-color: #f7f7fd;
}
.view-idea h3{
  border: 1px solid #45455a;
  padding: 10px;
}
.view-idea td {
  width: 50%;
  padding: 20px;
  border: 2px dashed #a8a8d2;
  background-color: lavender;
  margin: 20px;
}
.view-idea td:hover {
  padding: 20px;
  border: 2px dashed #a8a8d2;
  margin: 20px;
}
.view-idea tr, .view-idea tr:hover {
  border: none;
  background-color: white;
}
